


/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}

/* HEADER */
header{
    width: 100%;
    height: 5rem;
    
    border: 1px solid black;
}
.navigation{
    display: flex;
}
.links-navigation{
    display: flex;
}

.links-left{
    display: flex;
    gap: 2rem;
    
    
}
.links-right{
    display: flex;
    gap: 2rem;
    justify-content: end;
}


/* MAIN */
.conteiner-1{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    
    border: 1px solid black;

}
/* HERO */
.hero-section{
    padding: .5rem;
}
.title{
    font-size: 3.5rem;
}

.row{
    display: flex;
}

.col-small{
    background-color: chartreuse;
    width: 30%;
}

.link-button{
    background-color: rgb(45, 45, 229);
    padding: .7rem;
    
}
.link-button a{
    color: white;
    text-decoration: none;
}

.link-button a{
    color: white;
    text-decoration: none;
}
.link-button a{
    color: white;
    text-decoration: none;
}
li a{
    text-decoration: none;
}
.col-large{
    background-color: orange;
    width: 70%;

}

 /* SECTION 1 */
.conteiner-2{
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;

    border: 1px solid black;

}
.row-sez1{
    display: flex;

}
.col-sez1{
    margin: .5rem;

    background-color: pink;
    
    
}
.col-all{
    margin: 0.5rem;
    
    background-color: pink;
}
    
/* SECTION 2 */
.row-sez2{
    display: flex;
    margin-top: 5rem;
}
.col-sez2-large{
    width: 70%;
    background-color: aqua;
    margin: .5rem;
}
.col-sez2-small{
    width: 30%;
    background-color: aqua;
    margin: .5rem;
}
    
/* SECTION 3 */
.row-sez3{
    display: flex;
    margin-top: 2rem;
    
}

/* SECTION 4 */
.row-sez4{
    margin-top: 5rem;
}

/* SECTION 5 */

.conteiner-3{
    width: 100%;

    border: 1px solid black;

}
.row-sez5{
    display: flex;
    margin: 0;

}
.col-sez5{
    background-color: burlywood;
    margin: .5rem;
}

/* SECTION 6 */




/* SECTION 7 */
.title-small7{
    margin-top: 2rem;
}
.row-sez7{
    flex-wrap: wrap;
    
}
.col-sez2{
    margin-top: .5rem;
    padding: 2rem 2rem;
    background-color: fuchsia;
    
}

/* FOOTER */
/* FOOTER TOP */
.row-footer{
    display: flex;
}
.col-footer{
    padding: .5rem;
    border: 1px solid black;
    
    background-color: cornflowerblue;
}

/* FOOTER BOTTOM */
