
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

/* HEADER */
.header{
    padding: 0 1rem;
    height:  3rem;
    font-size: .8rem;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navigation{
    display: flex;
    height: 100%;
}
.logo img {
    margin-top: .5rem;
    
}
.links-navigation{
    display: flex;
}

.links-left{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    margin-left: 1rem;
    
    
}
.links-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}


/* MAIN */
.conteiner-1{
    width: 100%;
    margin: 0 auto;
    padding: 5rem 10rem 0;
    font-size: .8rem;
    background-color: rgb(113, 157, 201);
    

}
/* HERO */
.hero-section{
    padding: .5rem;
    position: relative;
    top: 3rem;
}
.title{
    font-size: 3.5rem;
}

.row{
    display: flex;
}

.col-small{
    width: 30%;
    margin-top: 3rem;
    position: relative;
}
.col-small p{
    margin-bottom: 1.5rem;
}


.link-button{
    background-color: blue;
    padding: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}
.link-button a{
    color: white;
    text-decoration: none;
}

.link-cancel{
    text-decoration: none;
    font-size: .8rem;
}

.arrow{
    font-size: 3rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    
}

.col-large{
    width: 70%;
    margin-top: 3rem;
}

 /* SECTION 1 */
.conteiner-2{
    width: 60%;
    margin: 0 auto;
    margin-top: 6rem;


    border: 1px solid black;
}
.actions{
    margin-bottom: 2rem;
    display: flex;
    gap: 3em;
    font-size: .8rem;
}
.title-small1{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2em;
}

.row-sez1{
    display: flex;

}
.col-sez1{
    width: 30%;
    margin: .5rem;
    padding: 1rem;
    border: 2px solid lightgray;
}


.reference {
    padding: .5rem;
    font-size: .8rem;
    text-align: center;
    
}

.level{
    margin-top: 1.5rem;
    font-size: 1rem;
}
.price{
    margin-top: 1.5rem;
    font-size: .8rem;
}
.period{
    margin-top: .7rem;
    color: grey;
    font-size: .8rem;
}
.info li{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: .8rem;


}
.link-button a{
    font-size: .8rem;
}
.acquista{
    font-size: .8rem;
    margin-bottom: 1rem;

}
h6{
    font-size: .8rem;
}
.list-services{
    font-size: .8rem
}
.list-services i{
    color: blue;
    margin-top: 1rem;

}



.col-all-enterprise{
    margin: 0.5rem;
    border: 2px solid lightgrey;
}
    
/* SECTION 2 */
.row-sez2{
    display: flex;
    margin-top: 5rem;
}
.title-h4{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.par{
    font-size: .8rem;
    margin-bottom: 1rem;
}
.button-border a{
    font-size: .8rem;
    padding: .5rem .5rem;
    color: grey;
    border: 2px solid grey;
}

.col-sez2-large{
    width: 70%;
}
.col-sez2-small{
    width: 30%;
    margin: .5rem;
    padding-top: 2rem;
    padding: .5rem;
}
    
/* SECTION 3 */
.no-border{
    border: 0;
}
.title-small3{
    margin-top: 5rem;
    font-size: 1.5rem;
}
.row-sez3{
    display: flex;
}
.title-sez3{
    font-size: 1rem;
    text-align: left;
}
.par-sez3{
    font-size: .8rem;
    text-align: left;
    margin-top: 1rem;
}


/* SECTION 4 */
.title-sez4{
    font-size: 1.5rem;
    margin-top: 5rem;
}
.link-clients{
    margin-top: 2rem;
}

/* SECTION 5 */

.conteiner-all{
    width: 100%;
    
     border: 1px solid black;

}
.row-sez5{
    display: flex;
    margin: 0;

}
.col-sez5{
    background-color: burlywood;
    margin: .5rem;
    width: calc(100% / 3);
}

/* SECTION 6 */




/* SECTION 7 */
.title-small7{
    margin-top: 2rem;
}
.row-sez7{
    flex-wrap: wrap;
    
}
.col-sez2{
    margin-top: .5rem;
    padding: 2rem 2rem;
    background-color: fuchsia;
    
}

/* FOOTER */
/* FOOTER TOP */
.conteiner-footer{
    width: 100%;
    margin: 0 auto;
    padding: 5rem 10rem 0;
    font-size: .8rem;
    background-color: black
    
}
.row-footer{
    display: flex;
    padding: .5rem;
    background-color: black;
}
.col-footer{
    padding: .5rem;
    border: 1px solid black;
    flex-grow: 2;
    
}
.title-footer{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
}
.list-footer li{
    font-size: .8rem;
    color: white;
    margin-top: .7rem;
}

.hr-footer{
    color: white;
    margin-top: 3rem;
}
.language{
    color: white;
    font-size: .8rem;
    margin-top: 1.5rem;
}
